.homeContainer {
  color: black;
  top: 6vh;
  position: absolute;
  padding: 1rem;
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
